<tr>
	<td>
		{{ method.method.type }}<br />
		{{ method.method.brand }}
	</td>
	<td>
		{{ method.method.name }}<br />
		{% for i in method.method.reference|make_list %}*{% endfor %}
		{{ method.method.reference|slice:"-4:" }}
	</td>
	<td>
		{{ method.}}
	</td>
	<td>
	{% if method.method.is_default %}
		Default
	{% else %}
		<a href="{% url 'peanut_accounts:peanut_store:payment_method' action='spk' pk=method.method.pk %}">Set Default</a>			
	{% endif %}
		<br /><a href="{% url 'peanut_accounts:peanut_store:payment_method' action='del' pk=method.method.pk %}">Delete</a>
	</td>
</tr>
<tr>