include LICENSE
include README.rst
recursive-include peanut/accounts/templates
recursive-include peanut/core/templates
recursive-include peanut/inventory/templates
recursive-include peanut/store/templates
recursive-include peanut/accounts/static
recursive-include peanut/core/static
recursive-include peanut/inventory/static
recursive-include peanut/store/static
#recursive-include docs *