{% extends '../index.html' %}
{% block content %}
<ul>
	<li>Perfil</li>
	<li>Mis pedidos</li>
	<li><a href="{% url 'peanut_accounts:password_change' %}">Seguridad</a></li>
	{% if is_customer %}
	<li><a href="{% url 'peanut_accounts:peanut.store:ShippingContacts' %}">Direcciones</a></li>
	<li><a href="{% url 'peanut_accounts:peanut.store:UpdateProfile' %}">Informacion personal</a></li>
	<li><a href="{% url 'peanut_accounts:peanut.store:PaymentMethods' %}">Opciones de pago</a></li>
	{% endif %}
</ul>
{% endblock %}
{% block extra-scripts %}{% endblock %}