<tr>
	<td>
		{{ method.method.type }}<br />
		{{ method.method.brand }}
	</td>
	<td>
		{{ method.method.name }}<br />
		{% for i in method.method.reference|make_list %}*{% endfor %}
		{{ method.method.reference|slice:"-4:" }}
	</td>
	<td>
	{% if method.method.address  %}
		{{ method.method.address.street1 }}<br />
		{{ method.method.address.street2 }}<br />
		{{ method.method.address.city }}, {{ method.method.address.state }}, {{ method.method.address.country }}<br />
		{% if not method.method.address.residential %}corporate<br />{% endif %}
		<a href="{% url 'peanut_accounts:peanut.store:UpdateBillingAddress' pk=method.method.pk %}">Update</a>
	{% else %}
		<a href="{% url 'peanut_accounts:peanut.store:AddBillingAddress' pk=method.method.pk %}">Add Billing Address</a>
	{% endif %}
	</td>
	<td>
	{% if method.method.is_default %}
		Default
	{% else %}
		<a href="{% url 'peanut_accounts:peanut.store:SetDefaultPaymentMethod' pk=method.method.pk %}">Set Default</a>			
	{% endif %}
		<br /><a href="{% url 'peanut_accounts:peanut.store:DeletePaymentMethod' pk=method.method.pk %}">Delete</a>
		<br /><a href="{% url 'peanut_accounts:peanut.store:UpdatePaymentMethod' pk=method.method.pk %}">Update</a>
	</td>
</tr>
<tr>